<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
      <div class="col-md-10">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
